<h2> Orders </h2>

<ul>
  <% @orders.each do |order| %>
    <li><%= link_to "#{order.movie_name} on #{order.created_at} purchased by #{order.name}", order %></li>
  <% end %>
</ul>

<h2> Orders by movie </h2>

<ul> 
  <% @movie_orders.keys.each do |movie| %>
    <li> <%= movie %>: </li>
    <ul> 
      <% @movie_orders[movie].each do |order| %>
        <li><%= link_to "#{order.created_at} purchased by #{order.name}", order %></li>
      <% end %>
    </ul>
  <% end %>
</ul>